<?xml version="1.0" ?>
<robot include-once="true" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Mathematical Constants -->
  <xacro:property name="PI" value="3.1415926535897931" />

  <!-- Colors -->
  <xacro:property name="SwivelWhite"     value="1.0 1.0 1.0 1"/>
  <xacro:property name="SwivelLightGray" value="0.8 0.8 0.8 1"/>
  <xacro:property name="SwivelMedGray"   value="0.6 0.6 0.6 1"/>
  <xacro:property name="SwivelDarkGray"  value="0.4 0.4 0.4 1"/>
  <xacro:property name="SwivelRed"       value="0.5 0.4 0.4 1"/>
  <xacro:property name="SwivelGreen"     value="0.4 0.5 0.4 1"/>
  <xacro:property name="SwivelBlue"      value="0.4 0.4 0.5 1"/>

  <material name="SwivelWhite">    <color rgba="${SwivelWhite}"/></material>
  <material name="SwivelLightGray"><color rgba="${SwivelLightGray}"/></material>
  <material name="SwivelMedGray">  <color rgba="${SwivelMedGray}"/></material>
  <material name="SwivelDarkGray"> <color rgba="${SwivelDarkGray}"/></material>
  <material name="SwivelRed">      <color rgba="${SwivelRed}"/></material>
  <material name="SwivelGreen">    <color rgba="${SwivelGreen}"/></material>
  <material name="SwivelBlue">     <color rgba="${SwivelBlue}"/></material>
</robot>



